<div class='container homepage'>
  <div class='row text-center button_down'>
    <h1 class="button_down">Book Yourself Fabulous</h1>
    <h3>Beauty appointments at your fingertips</h3>
  </div>
</div>
